<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:substituteby="chunks/head::head"></div>

<body>
	<div id="wrapper">

		<div th:substituteby="chunks/header::header"></div>
		<div th:substituteby="chunks/nav::nav"></div>

		<section id="main">

			<section id="content">
				<div th:substituteby="chunks/loginForm::loginForm"></div>
				 <p th:if="${loginError}" th:text="#{login.error}"></p> 
			</section>

		</section>

		<div th:substituteby="chunks/footer :: footer"></div>

	</div>

</body>

</html>