<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
	<section id="footer-area">

		<section id="footer-outer-block">
			<aside class="footer-segment">
				<h4 th:text="#{footer.destinies}"></h4>
				<ul>
					<li><a href="#">Alcorcón</a></li>
					<li><a href="#">Cáceres</a></li>
					<li><a href="#">Niza</a></li>
				</ul>
			</aside>

			<aside class="footer-segment">
				<h4 th:text="#{footer.hotels}"></h4>
				<ul>
					<li><a href="#">Alcorcón</a></li>
					<li><a href="#">Cáceres</a></li>
					<li><a href="#">Niza</a></li>
				</ul>
			</aside>
			<!-- end of #second footer segment -->

			<aside class="footer-segment">
				<h4 th:text="#{footer.food}"></h4>
				<ul>
					<li><a
						href="http://aeriskitchen.com/2009/06/korean-trip-food-1/">Koorean
							Food</a></li>
					<li><a href="http://vegasmusings.com/?p=998">Vegas Musings</a></li>
					<li><a
						href="http://azrihaeatsworld.xanga.com/579857981/road-trip-food-stop--quickway-diner/">Road
							Trip</a></li>
				</ul>
			</aside>

			<aside class="footer-segment">
				<h4 th:text="#{footer.guides}"></h4>
				<ul>
					<li><a href="http://www.tripadvisor.com/TravelGuides">Trip
							Advisor</a></li>
					<li><a href="http://www.lonelyplanet.com/">Lonely Planet</a></li>
					<li><a href="http://www.frommers.com/">Formmers</a></li>
				</ul>
			</aside>

		</section>

	</section>

</footer>